*{margin:1px ;padding: 1px;box-sizing: border-box;font-family: Arial, Helvetica, sans-serif;}
body{background: #4682B4;}
header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: #A8DADC;
    color: #1D3557;
    padding: 15px 40px; 
}
footer{
    text-align: center;
    background: #1D3557;
    color: #fff;
    padding: 15px;
    margin-top: 20px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo.c{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #EDC9AF;
    color: #1D3557;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
}
.active,nav a:hover {
    background:#fff;
    color: #000;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.hero img {
    width: 420px;
    border-radius: 12px;
}
.btn{
    background: #1f3c88;
    color: #fff;
    padding: 10px 8px;
    border-radius: 20px;
    text-decoration: none;
}
.features,.books{
    display: grip;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 20px;
    padding: 30px;
}
.form
{
    background: #fff;
    padding: 25px;
    border-radius:10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.form input,.form textarea,.form select{
    padding: 10px;
}
.form button{
    padding: 10px;
    background: #1f3c88;
    color: #fff;
    border:none
}
.table{
    padding:30px
}
.table table{
    width:100%;border-collapse:collapse;background:#fff
}
.table th,.table td{
    border:1px solid #ccc;padding:10px;text-align:center
}
footer{
    text-align:center;background:#1f3c88;color:#fff;padding:15px;margin-top:20px
}